{:io.github.evenmoreirrelevance/libdesc
 {:lib io.github.evenmoreirrelevance/classy
  :mvn/version "0.2.2-beta"}

 :deps
 {org.clojure/clojure {:mvn/version "1.11.4"}
  org.ow2.asm/asm {:mvn/version "9.7.1"}
  org.ow2.asm/asm-commons {:mvn/version "9.7.1"}}

 :aliases
 {:dev
  {:extra-paths
   ["test"]
   :extra-deps
   {criterium/criterium {:mvn/version "0.4.6"}
    clj-kondo/clj-kondo {:mvn/version "2025.01.16"}}}
  :build
  {:extra-deps
   {io.github.clojure/tools.build {:mvn/version "0.10.4"}
    slipset/deps-deploy {:mvn/version "0.2.1"}}}}}
